<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Title</title>
</head>
<body>
<a href="/create">Write a blog</a>
<h1>Blogs</h1>
<div>
    <a th:href="@{'/'(page=${blogs.number - 1})}" th:if="${blogs.hasPrevious()}">Previous</a>
    <span th:text="${blogs.number + 1}"></span>/<span th:text="${blogs.totalPages}"></span>
    <a th:href="@{'/'(page=${blogs.number + 1})}" th:if="${blogs.hasNext()}">Next</a>
</div>
<div th:each="blog : ${blogs}" style="width: 100%">

    <div style="width: 20%;float: left" class="generalInfo">
        <span>Title: </span><span style="font-weight: bold" th:text="${blog.title}" ></span><br>
        <span>Author: </span><span th:text="${blog.author}" ></span><br>
        <span>Create Time: </span><span th:text="${blog.createDate}" ></span><br>
        <span>Category: </span><span th:text="${blog.category.name}"></span><br>
        <a th:href="@{/edit/__${blog.id}__ }">Edit</a>
        <a th:href="@{/delete/__${blog.id}__ }">Delete</a>
    </div>
    <div style="width: 79%;float:left; border: 1px green solid" class="contentContainer">
        <span th:utext="${blog.content}"></span>
    </div>

</div>


</body>
</html>