<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Title</title>
</head>
<body>
<a href="/create">Write a blog</a>
<h1>Blogs</h1>
<div th:each="blog : ${blogList}" style="width: 100%">

    <div style="width: 20%;float: left" class="generalInfo">
        <span>Title: </span><span th:text="${blog.title}" ></span><br>
        <span>Author: </span><span th:text="${blog.author}" ></span><br>
        <span>Create Time: </span><span th:text="${blog.createDate}" ></span><br>
        <a th:href="@{/edit/__${blog.id}__ }">Edit</a>
        <a th:href="@{/delete/__${blog.id}__ }">Delete</a>
    </div>
    <div style="width: 79%;float:left; border: 1px green solid" class="contentContainer">
        <span th:utext="${blog.content}"></span>
    </div>
</div>

</body>
</html>