<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Edit a blog</title>
    <script src="https://cdn.ckeditor.com/4.14.1/standard/ckeditor.js"></script>
</head>
<body>
<h2>Edit a blog</h2>


<form action="#" th:action="@{/editBlog}" th:object="${editBlog}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Author</td>
            <td><input type="text" th:field="*{author}" ></td>
        </tr>
        <tr>
            <td>Title</td>
            <td><input type="text" th:field="*{title}" ></td>
        </tr>
        <tr>
            <td><label for="content" th:text="Contents"></label></td>
            <td><textarea name="content" id="content" cols="50" rows="10" th:field="*{content}" th:text="*{content}"></textarea></td>
            <script>
                CKEDITOR.replace( 'content' );
            </script>
        </tr>
        <tr>
            <td colspan="2"><button type="submit">Submit</button></td>
        </tr>
    </table>
</form>


</body>
